<div>

  <h1>Acceder como usuario</h1>

  <form action="">

    <label for="username"> Nombre: </label>
    <input type="text" name="username">
    <br>
    <label for="password"> Contraseña</label>
    <input type="text" name="password">
    <br>
    <button>Acceder</button>


  </form>

</div>