<section id="login">

  <h1 class="btn btn-primary">Acceder como usuario</h1>

  <form action="/auth/login" method="POST">
    <div>
      <label class="btn btn-primary" for="username"> Nombre: </label>
      <input type="text" name="username" />
      <br />
      <div>
        <label class="btn btn-primary" for="password"> Contraseña</label>
        <input type="password" name="password" />
      </div>
      <br />
      {{errorMessage}}
      <br />
      <button class="btn btn-primary">Acceder</button>
    </div>

  </form>

</section>