<div id="private">
  <img src="/images/gatito.gif" class="rounded" alt="gatito" width="200px" />
  <br />
  <h2>Esta es tu pagina Privada</h2>
  <a class="btn btn-primary" href="/"><h2>Inicio</h2></a>
</div>