<figure>
  <blockquote class="blockquote">
    <h1 class="display-5">{{title}}</h1>
  </blockquote>
  <figcaption class="blockquote-footer">
    <h2>Welcome to </h2>
    <cite title="Source Title"><h6>{{title}}</h6></cite>
  </figcaption>
</figure>